.bg-maria {
    background: url(teste\ imagem.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.img {
    border-radius: 20px;
}

.d-flex {
    margin-left: 690px;
}

#my-carousel {
    height: 400;
    align-items: center;
    size: 200px;
}

h5 {
    color: rgb(225, 223, 223);
}

p {
    color: rgb(241, 235, 235);
}