.bg-maria {
    background: url(teste\ imagem.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.img {
    border-radius: 20px;
}

.d-flex {
    margin-left: 690px;
}